# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
# astor
# certifi
# charset-normalizer
# decorator
# gast
# idna
# numpy
# paddlepaddle
# paddlepaddle-gpu
# Pillow
# protobuf
# PyQt5
# PyQt5-Qt5
# PyQt5-sip
# pywin32
# requests
# six
# urllib3
# wget
