# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
# -------------Mainly depends on package analysis results--------------


# ----------------------Ignored dependent packages---------------------
#coverage==5.5
#paddlepaddle==2.1.2
#pyinstaller==4.5.1
#pyqt5==5.15.4
#pyqt5-stubs==5.15.2.0
#pywin32==301
#qpt==1.0b1.dev4

# ----------------------Ignored sub dependent packages---------------------
