# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
# -------------Mainly depends on package analysis results--------------

qpt
paddleocr==2.4.0.2

# ----------------------Ignored dependent packages---------------------
#wheel==0.36.2
#pywin32==302
#pythonnet==2.5.2
#pyqt5==5.15.4
#pyqt5_stubs==5.15.2.0
#psutil==5.8.0
#paddlex==2.1.0
#paddlepaddle==2.2.0
#paddlepaddle_gpu==2.1.1
#paddlehub==2.1.0
#bs4==0.0.1

# ----------------------Ignored sub dependent packages---------------------

# -----Dependencies of qpt
#pillow
#ttkbootstrap
#pefile
#wget
#click

# -----Dependencies of paddleocr
#opencv_contrib_python==4.4.0.46
#tqdm
#cython
#visualdl
#python_levenshtein
#lxml
#pyclipper
#numpy
#openpyxl
#premailer
#fasttext==0.9.1
#shapely
#scikit_image
#imgaug==0.4.0
#lmdb
