# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
# -------------Mainly depends on package analysis results--------------

paddlepaddle-gpu==2.1.1

# ----------------------Ignored dependent packages---------------------
#bs4==0.0.1
#paddlehub==2.1.0
#paddlepaddle==2.2.0
#psutil==5.8.0
#pyqt5==5.15.4
#pyqt5-stubs==5.15.2.0
#pythonnet==2.5.2
#pywin32==302
#qpt==1.0b1.dev11
#scikit-image==0.17.2
#shapely==1.7.1
#wheel==0.36.2

# ----------------------Ignored sub dependent packages---------------------

# -----Dependencies of paddlepaddle-gpu
#decorator==4.4.2
#numpy<=1.19.3,>=1.13
#astor
#six
#pillow
#gast==0.3.3
#requests>=2.20.0
#protobuf>=3.1.0
