# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
# -------------Mainly depends on package analysis results--------------

pyqt5==5.15.10

# ----------------------Ignored dependent packages---------------------
#pillow==10.1.0
#qenvpython311==3.11.6
#qenvpython312==3.12.0
#qenvpython38==3.8.10.1
#qenvpython39==3.9.13
#qpt_sdk==1.0.1
#qvcredist==1.0.3
#click==8.1.7
#install==1.3.5
#pefile==2023.2.7
#pywin32==306
#toml==0.10.2
#wget==3.2
#wheel==0.41.2

# ----------------------Ignored sub dependent packages---------------------

# -----Dependencies of pyqt5
#pyqt5_sip<13,>=12.13
#pyqt5_qt5>=5.15.2
