# Here is the list of packages automatically derived by QPT
# you can ignore the dependent packages in the main package and only care about the main package
# For example, you need to install paddlepaddle and pillow, because paddlepaddle relies on pillow, so you only need to install paddlepaddle.
# ---------------------------------------------------------------------
# QPT Home:        https://github.com/GT-ZhangAcer/QPT
# ---------------------------------------------------------------------
# 
paddlepaddle==2.1.0
# appdirs
# astor
# Babel
# bce-python-sdk
# beautifulsoup4
# bs4
# certifi
# cfgv
# chardet
# click
# colorama
# colorlog
# cycler
# decorator
# dill
# distlib
# easydict
# filelock
# flake8
# Flask
# Flask-Babel
# future
# gast
# gitdb
# GitPython
# h5py
# identify
# idna
# imageio
# itsdangerous
# jieba
# Jinja2
# joblib
# kiwisolver
# MarkupSafe
# matplotlib
# mccabe
# multiprocess
# networkx
# nodeenv
# numpy
# opencv-python
# packaging
# paddle2onnx
# paddlehub
# paddlenlp
# paddlepaddle
# pandas
# pefile
# Pillow
# pre-commit
# protobuf
# psutil
# pycodestyle
# pycparser
# pycryptodome
# pyflakes
# pyparsing
# PyQt5
# PyQt5-Qt5
# PyQt5-sip
# PyQt5-stubs
# python-dateutil
# pythonnet
# pytz
# PyWavelets
# pywin32
# PyYAML
# pyzmq
# QPT
# rarfile
# requests
# scikit-image
# scikit-learn
# scipy
# seqeval
# Shapely
# shellcheck-py
# six
# smmap
# soupsieve
# threadpoolctl
# tifffile
# toml
# tqdm
# urllib3
# virtualenv
# visualdl
# Werkzeug
# wget
